<div class='container'>

  <h2>Dear Subscriber <%= @subscriber_name %>! bloGNote informs You:</h2>
  <p> <strong>New article created:</strong> </p>
  <p> To read new article: <%= link_to 'Read', "#{@link_to_new_article}"  %> </p>
  <br/>
  <p> To unsubscribe from bloGNote emails: <%= link_to 'Unsubscribe',"#{@link_to_unsubscribe}" %> </p>
  <p> Delivering time: <%= @current_time.to_s(:short) %></p>

</div>
