<div class='container'>
  <h1>Join our designing and recreative blog!</h1>
  <h2>Share your ideas and explore other variants</h2>
  <h2>Our mission - to unite people all over the world</h2>
  <%= link_to'Sign up', new_author_path , class: [:sbtn, :btn] %>
  <%= link_to 'Sign in', login_path , class: [:sbtn, :btn]  %>
  <%= link_to 'Subscribe', new_article_path , class: [:sbtn, :btn]  %>
  <%= link_to 'Read all articles', articles_path , class: [:sbtn, :btn]  %>

</div>
