.container
  %h1 Мы все – родня!
  %h2 Миссия проекта – объединить людей всего мира
  = link_to 'Присоединиться', :signup, class: [:sbtn, :btn]
  = link_to 'Войти на сайт', :login, class: [:lbtn, :btn]
