/*// Place all the styles related to the Articles controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass here: http://sass-lang.com/*/

table{
  width:100%;
  border-collapse:collapse;
  table-layout:auto;
    color: #F2EDEB;
  vertical-align:top;
  margin-bottom:15px;
  border:1px solid #999999;
}

thead th {
  font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
    sans-serif;
  color: #a72434;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  /*background: #522D25 url(images/bg_header.jpg) no-repeat;*/
}

tbody tr {
  background: #fff;
  color: #2c21a4;
  cursor: pointer;
}

tbody tr:hover, tbody tr.alt:hover {
  color: #261F1D;
  background-color: #E5C37E;
}

.highlighted {
  color: #261F1D;
  background-color: #E5C37E;
}

tr.alt {
  background: #F5FAFA;
  color: #B4AA9D;
}

td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  padding: 6px 6px 6px 12px;
}

strong {
    background: #F5FAFA;
    color: #8931b4;
}


h5 {
    background: #F5FAFA;
    color: #8931b4;
}


comment {
    background: #faffff;
    color: #4a47b4;
    font-size:24px;
    font-weight:bold;
}

#tag_cloud {
    width: 400px;
    line-height: 1.6em;
    position: relative;
    left: 75%;
}
.s {
    font-size: 0.8em;
}
.m {
    font-size: 1.2em;
}
.l {
    font-size: 1.8em;
}


