.default-form{

  .row{
    width:100%;
    margin-bottom:20px;

    label{display:block;margin-bottom:5px;}

    input[type='text'],
    textarea{
      width:100%;
      font-size:14px;
      padding:4px;
    }

    textarea{height:120px;}
  }


  &.messages{
    width:50%;
  }
}
