/*// Place all the styles related to the subscribers controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass here: http://sass-lang.com/*/


strong {
    background: #faffff;
    color: #4a47b4;
    font-size:24px;
    font-weight:bold;
}
