// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

body
  min-height: 400px

.logged
  position: relative
  left: 5%
  font-size: 1.2em
  width: 25em
  display: inline

h1
  //width: 25em
  padding-right: 0